
.icon {
    position: relative;
    transition: transform 0.2s ease,
    opacity 0.2s ease;
    transform: scale(1.5);
}

.iconWhite {
    position: absolute;
    opacity: 0;
    color: white;
    transition: transform 0.2s ease,
    opacity 0.2s ease;
    transform: translateY(10px);
    top: 0;
    left: 0;
    right: 0;
}

.iconWrapper:hover .icon {
    transform: translateY(-10px);
    opacity: 0;
}

.iconWrapper:hover .iconWhite {
    transform: translateY(0);
    opacity: 1;
}

.iconSubNav {
    margin-right: 16px;
}

.iconSubNav:hover .iconWhite {
    color: #52b2bf;
}